body {
  background-color: rgb(71, 148, 172);
  padding-left: 10em;
  padding-right: 10em;
}

header {
  background-color: rgb(71, 148, 172);
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-style: oblique;
  color: navy;
  font-size: 3em;
}

header h4 {
  text-decoration: underline;
  border: 5px;
}

h2 {
  color: navy;
}

section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(71, 148, 172);
}

#fija {
  background-color: rgb(127, 225, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  width: 20em;
  height: 20em;
}

#movil {
  background-color: rgb(127, 193, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  width: 20em;
  height: 20em;
}

#instal {
  background-color: rgb(127, 146, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  width: 20em;
  height: 20em;
}
p.special {
  color: navy;
}

button.clickable {
  color: rgb(95, 25, 25);
  border-color: black;
}
form {
  display: flex;
  flex-direction: column;
}

input[name="texto"] {
  width: 30em;
  height: 20em;
}

input[name="mail"] {
  width: 20em;
  height: 1em;
}

#ai {
  position: absolute;
}
img {
  position: relative;
  margin-top: 5em;
  margin-left: 0;
  width: 15em;
  height: 20em;
}

#imagenai {
    background-color: grey;
    text-align: left;
    position: absolute;
    margin-top: 27em;
    width: 30em;
    
   
}

button.menu {

    width: 10em;
    height: 5em;
    background-color: lightslategray;
    border-radius: 1em;
}

footer {
    position: absolute;
    margin-top: 10em;
    text-align: center;

}